<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.pms.mapper.MenuMapper">


    <select id="selectMenusByIds" resultType="com.xxx.pms.entity.Menu">
        select * from sys_menu where id in
            <foreach collection="list" item="menuId" open="(" close=")" separator=",">
                #{menuId}
            </foreach>
	</select>

</mapper>